@layout('layouts/application')

@section('title')
Mon profil
@end

@section('content')
	<h1>Profil</h1>
	@if(utilisateur.name)
		<p><strong>Nom :</strong> {{ utilisateur.name }}</p>
	@endif

	<p><strong>Email :</strong> {{ utilisateur.email }}</p>

	<a href="{{ route('UsersController.edit', { id: utilisateur.id }) }}" class="btn btn-primary">Modifier mon profil</a>
@end
