@layout('layouts/application')

@section('title')
Créer une plante
@end

@section('content')
	<div class="container mt-4">
		<h1 class="mb-4">Nouvelle plante</h1>

		@set('action', route('admin.plants.store'))
		@set('method', 'POST')
		@set('plante', { name: '', price: '', description: '', stock: '' })
		@include('admin/plants/_form')
	</div>
@end
