@layout('layouts/application')

@section('title')
Modifier plante
@end

@section('content')
	<h1>Modifier la plante</h1>
	@include('admin/plants/_form', { plant: plant, action: route('AdminPlantsController.update', { id: plant.id }), method: 'PUT' })
@end
