@extends('layouts/application')

@section('title', 'Nouvelle plante')

@section('content')
	<h1>Créer une plante</h1>
	@include('admin/plants/_form', { plant: null, action: route('Admin/PlantsController.store'), method: 'POST' })
@endsection
