<!DOCTYPE html>
<html>
<head>
	<title>@!section('title', 'PlantShop')</title>
</head>
<body>
	@include('layouts/_flash_messages')
	@include('layouts/_navbar')
	<main>
		@!section('content')
	</main>
</body>
</html>
