@layout('layouts/application')

@section('title')
Commande créée
@end

@section('content')
<h1>Commande créée</h1>
<p>Votre commande a bien été enregistrée.</p>
<a href="{{ route('OrdersController.index') }}">Retour à mes commandes</a>
@end
