@layout('layouts/application')

@section('title')
Mes commandes
@end

@section('content')
<h1>Mes commandes</h1>
@if(orders && orders.length > 0)
	<ul>
		@each(order in orders)
			<li>
				<a href="{{ route('OrdersController.show', { id: order.id }) }}">
					Commande #{{ order.id }} du {{ order.createdAt.toLocaleDateString() }} - {{ order.totalPrice }} €
				</a>
			</li>
		@endeach
	</ul>
@else
	<p>Aucune commande trouvée.</p>
@endif
@end
